.placa {}

.imagem {
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: 270%;
    margin-top: 105%;
}

.texto {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    width: 269px;
    height: 100px;
    position: absolute;
    margin-left: 320%;
    margin-top: 110%;
    font-size: 20pt;
}